
.section-title {
    position: relative;
    margin-bottom: 75px;
    text-align: center;
  }
  
  .section-title h2 {
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .section-title h2:before {
    content: " ";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    width: 127px;
    height: 2px;
    background-color: #e0e0e0;
  }
  
  .section-title h2:after {
    content: " ";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 40px;
    height: 5px;
    background-color: #5672f9;
  }
  
  .section-title p {
    font-size: 18px;
    line-height: 30px;
    color: #848484;
  }
  
  
  
  
  .category-block {
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.09);
    padding: 20px 25px;
    border-radius: 3x;
    margin-bottom: 25px;
  }
  
  .category-block .header {
    margin-bottom: 20px;
    border-bottom: 3px solid #F4F7F9;
    text-align: center;
  }
  
  .category-block .header h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .category-block .header .icon-bg-1 {
    background: #c0d407;
    box-shadow: 0 0 0px 6px rgba(204, 219, 56, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-2 {
    background: #a676b8;
    box-shadow: 0 0 0px 6px rgba(166, 118, 184, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-3 {
    background: #fe7e17;
    box-shadow: 0 0 0px 6px rgba(254, 126, 23, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-4 {
    background: #EC3A56;
    box-shadow: 0 0 0px 6px rgba(236, 58, 86, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-5 {
    background: #1DBFFF;
    box-shadow: 0 0 0px 6px rgba(29, 191, 255, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-6 {
    background: #02d3a4;
    box-shadow: 0 0 0px 6px rgba(2, 211, 164, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-7 {
    background: #bc02d3;
    box-shadow: 0 0 0px 6px rgba(188, 2, 211, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header .icon-bg-8 {
    background: #025fd3;
    box-shadow: 0 0 0px 6px rgba(2, 95, 211, 0.35);
    border-radius: 100%;
    padding: 5%;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  
  .category-block .header i {
    margin-right: 6px;
    color: #fff;
    font-size: 13px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 6px;
    border-radius: 40px;
  }
  
  .category-block .category-list li {
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #F4F7F9;
    padding: 10px 0;
  }
  
  .category-block .category-list li:last-child {
    border: none;
  }
  
  .category-block .category-list li a {
    display: block;
    color: #777;
    font-size: 13px;
  }
  
  .category-block .category-list li a span {
    float: right;
    font-size: 10px;
    border-radius: 10px;
    padding: 3px 8px;
    color: #84919B;
  }
  
  .category-block .category-list li a:hover {
    text-decoration: underline;
  }
  
  .category-block .category-list li a i {
    margin-right: 6px;
    font-size: 12px;
    color: #5672f9;
    vertical-align: middle;
  }